<br>
<br>
<h1 id="search">Search by city:</h1>

<form action="/trails" method="post">

  <div class="error">
    <% if @error %>
      <%= @error %>
    <% end %>
  </div>

  <input type="text" name="city" placeholder="City">
  <button class="button" type="submit">submit</button>
</form>


<% if @api_response && @api_response['places'] %>
  <% @api_response['places'].each do |place| %>
    <p>
    <%=place['name']%>
    </p>
  <%end%>

<%end%>

