<% if @user %>


  <br>
  <br>
  <br>
  <h1 id="hello">Hi, <%= @user.full_name %>!</h1>

  <br>
  <br>
  <br>
  <h1 id="welcome">Welcome to MyHike.</h1>
  <a href="/trails">Click here to find a trail.</a>


<% else %>
  <h1>Welcome to MyHike.</h1>
  <h2>Find a trail nearby or anywhere you would like to hike.</h2>
  <h3>Register as a new user or log in.</h3>

  <p>Sign in <a href="/sessions/new">here</a></p>
  <p>Register as a new user <a href="/users/new">here</a></p>
<% end %>
